In [34]:
from zipfile import ZipFile
import numpy as np
import pandas as pd
import pickle
import json

In [5]:
train_split = pd.read_csv('/Volumes/Macintosh HD - Data/Users/admin/Documents/HD Drive/DataProjects_Data/DepressionData/train_split.csv')

In [29]:
def ExtractText(id):
    with ZipFile("/Volumes/Macintosh HD - Data/Users/admin/Downloads/{}_P.zip".format(id), 'r') as zip:
        zip.extract("{}_TRANSCRIPT.csv".format(id), 'text')
        df = pd.read_csv('text/{}_TRANSCRIPT.csv'.format(id),sep = '\t')
        df['id'] = id
    print(f'adding participant {id} with shape {df.shape}')
    return df

In [30]:
df = pd.DataFrame()
id = 302
df = pd.concat([df,ExtractText(id)])
df

adding participant 302 with shape (186, 5)

,start_time,stop_time,speaker,value,id
0,35.18,37.99,Ellie,hi i'm ellie thanks for coming in today,302
1,38.59,41.72,Ellie,i was created to talk to people in a safe and ...,302
2,42.46,46.77,Ellie,think of me as a friend i don't judge i can't ...,302
3,47.67,57.06,Ellie,i'm here to learn about people and would love ...,302
4,58.43,59.40,Ellie,how are you doing today,302
...,...,...,...,...,...
181,704.37,706.72,Ellie,okay i think i've asked everything i need to,302
182,707.64,709.06,Ellie,thanks for sharing your thoughts with me,302
183,710.08,710.60,Participant,thank you,302
184,711.07,711.60,Ellie,goodbye,302
185,711.72,712.15,Participant,bye bye,302

In [31]:
df = pd.DataFrame()
for id in train_split['Participant_ID']:
    df = pd.concat([df,ExtractText(id)])

adding participant 303 with shape (191, 5)
adding participant 304 with shape (204, 5)
adding participant 305 with shape (405, 5)
adding participant 310 with shape (240, 5)
adding participant 312 with shape (210, 5)
adding participant 313 with shape (194, 5)
adding participant 315 with shape (224, 5)
adding participant 316 with shape (239, 5)
adding participant 317 with shape (198, 5)
adding participant 318 with shape (138, 5)
adding participant 319 with shape (186, 5)
adding participant 320 with shape (280, 5)
adding participant 321 with shape (233, 5)
adding participant 322 with shape (293, 5)
adding participant 324 with shape (256, 5)
adding participant 325 with shape (178, 5)
adding participant 326 with shape (198, 5)
adding participant 327 with shape (175, 5)
adding participant 328 with shape (238, 5)
adding participant 330 with shape (203, 5)
adding participant 333 with shape (253, 5)
adding participant 336 with shape (240, 5)
adding participant 338 with shape (138, 5)
adding participant 339 with shape (233, 5)
adding participant 340 with shape (152, 5)
adding participant 341 with shape (276, 5)
adding participant 343 with shape (238, 5)
adding participant 344 with shape (281, 5)
adding participant 345 with shape (179, 5)
adding participant 347 with shape (149, 5)
adding participant 348 with shape (206, 5)
adding participant 350 with shape (212, 5)
adding participant 351 with shape (207, 5)
adding participant 352 with shape (136, 5)
adding participant 353 with shape (196, 5)
adding participant 355 with shape (178, 5)
adding participant 356 with shape (249, 5)
adding participant 357 with shape (126, 5)
adding participant 358 with shape (151, 5)
adding participant 360 with shape (83, 5)
adding participant 362 with shape (129, 5)
adding participant 363 with shape (230, 5)
adding participant 364 with shape (473, 5)
adding participant 366 with shape (356, 5)
adding participant 368 with shape (314, 5)
adding participant 369 with shape (288, 5)
adding participant 370 with shape (213, 5)
adding participant 371 with shape (233, 5)
adding participant 372 with shape (417, 5)
adding participant 374 with shape (337, 5)
adding participant 375 with shape (152, 5)
adding participant 376 with shape (273, 5)
adding participant 379 with shape (328, 5)
adding participant 380 with shape (458, 5)
adding participant 383 with shape (304, 5)
adding participant 385 with shape (125, 5)
adding participant 386 with shape (268, 5)
adding participant 391 with shape (195, 5)
adding participant 392 with shape (177, 5)
adding participant 393 with shape (162, 5)
adding participant 397 with shape (280, 5)
adding participant 400 with shape (232, 5)
adding participant 401 with shape (260, 5)
adding participant 402 with shape (220, 5)
adding participant 409 with shape (334, 5)
adding participant 412 with shape (224, 5)
adding participant 414 with shape (268, 5)
adding participant 415 with shape (211, 5)
adding participant 416 with shape (250, 5)
adding participant 419 with shape (248, 5)
adding participant 423 with shape (258, 5)
adding participant 425 with shape (267, 5)
adding participant 426 with shape (303, 5)
adding participant 427 with shape (290, 5)
adding participant 428 with shape (215, 5)
adding participant 429 with shape (310, 5)
adding participant 430 with shape (231, 5)
adding participant 433 with shape (235, 5)
adding participant 434 with shape (303, 5)
adding participant 437 with shape (219, 5)
adding participant 441 with shape (267, 5)
adding participant 443 with shape (198, 5)
adding participant 444 with shape (423, 5)
adding participant 445 with shape (178, 5)
adding participant 446 with shape (273, 5)
adding participant 447 with shape (195, 5)
adding participant 448 with shape (301, 5)
adding participant 449 with shape (224, 5)
adding participant 454 with shape (230, 5)
adding participant 455 with shape (215, 5)
adding participant 456 with shape (208, 5)
adding participant 457 with shape (278, 5)
adding participant 459 with shape (270, 5)
adding participant 463 with shape (199, 5)
adding participant 464 with shape (450, 5)
adding participant 468 with shape (255, 5)
adding participant 471 with shape (220, 5)
adding participant 473 with shape (153, 5)
adding participant 474 with shape (285, 5)
adding participant 475 with shape (153, 5)
adding participant 478 with shape (234, 5)
adding participant 479 with shape (248, 5)
adding participant 485 with shape (167, 5)
adding participant 486 with shape (199, 5)
adding participant 487 with shape (299, 5)
adding participant 488 with shape (202, 5)
adding participant 491 with shape (231, 5)

In [32]:
df.shape

(25511, 5)

In [37]:
df.to_csv('transcripts.csv')

In [38]:
dfcheck = pd.read_csv('transcripts.csv')
dfcheck

,Unnamed: 0,start_time,stop_time,speaker,value,id
0,0,26.276,48.696,Ellie,hi i'm ellie thanks for coming in today i was ...,303
1,1,49.256,50.406,Ellie,how are you doing today,303
2,2,50.686,51.836,Participant,okay how 'bout yourself,303
3,3,52.576,54.136,Ellie,i'm great thanks,303
4,4,54.816,56.236,Ellie,where are you from originally,303
...,...,...,...,...,...,...
25506,226,859.220,859.600,Participant,okay,491
25507,227,860.191,861.631,Ellie,appreciate_open (thanks for sharing your thoug...,491
25508,228,861.670,862.270,Participant,thank you honey <hon>,491
25509,229,862.858,863.468,Ellie,bye (goodbye),491
25510,230,863.400,863.940,Participant,bye,491